.navbar {
  padding: 0px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  pad: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

#search-list {
  max-height: 700px;
  overflow: scroll;
}

#login {
  width: 500px;
  background-color: #eee;
  border: 2px solid #999;
  margin: 0 auto;
  padding: 20px;
  margin-top: 100px;
  border-radius: 15px;
}